.cocktailName-search-container {
  width: 40vw;
  height: 5vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10vh auto 0 auto;
  padding: 1vw;
  box-sizing: border-box;
  border: 3px solid var(--color-text);
  border-radius: 1.5vw;

  input {
    width: 35vw;
    height: 3vw;
    border: none;
    padding: 0 1vw;
  }
  input:focus {
    outline: none;
  }

  button {
    cursor: pointer;
    svg {
      font-size: 2vw;
    }
  }
}

.detail-search-container {
  text-align: center;

  .header {
    display: flex;
    margin: 2vh auto;
    line-height: 5vh;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    svg {
      fill: var(--color-placeholder);
    }
  }

  .body {
    // background-color: skyblue;
    border-top: 3px solid var(--color-base);
    border-bottom: 3px solid var(--color-base);
    padding: 5vh 0;

    .reset {
      margin-bottom: 3vh;

      button {
        margin-left: auto;
      }
    }

    .searchRow {
      // background-color: orange;
      width: 60vw;
      text-align: start;
      margin: 0 auto 5vh auto;
      display: flex;
      gap: 1vw;

      .title {
        width: 7vw;
        // background-color: orange;
        font-size: 1.2rem;
        font-weight: 900;
      }
    }

    .searchBtn {
      button {
        font-size: 2vw;
        font-weight: 900;
        padding: 0.8vw 3vw;
        border-radius: 1vw;
        margin: 0 auto;
      }
    }
  }
}

.ingredients-container {
  width: 52vw;
  // background-color: pink;
  display: flex;
  flex-direction: column;

  .selected-container {
    // background-color: gray;
    width: 52vw;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 52vw;
    height: 4vw;
  }
}
