.container {
  width: 20vw;
  height: 25vw;
  padding: 1.5vw;
  box-sizing: border-box;

  .image {
    width: 17vw;
    height: 17vw;
    overflow: hidden;
    border-radius: 10%;
    margin-bottom: 1vh;
    text-align: center;
    box-shadow: 0.4vw 0.4vw 0.7vw 0.01vw var(--color-base);

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .name {
      display: flex;
      flex-direction: column;

      .eng {
        font-size: 1rem;
      }

      .kor {
        font-size: 0.6rem;
      }
    }

    .like {
      display: flex;
      align-items: center;
      font-size: 0.8rem;

      svg {
        font-size: 0.8rem;
        margin-right: 0.2vw;
      }
    }
  }
}
