.container {
  display: flex;
  width: 53vw;

  .block {
    height: 100%;
    background-color: white;
    padding: 0 1vw;
    border-top: 0.2vw solid var(--color-placeholder);
    border-left: 0.2vw solid var(--color-placeholder);
    border-bottom: 0.2vw solid var(--color-placeholder);
    box-sizing: border-box;
    font-size: 1rem;
    cursor: pointer;
  }

  .block:first-child {
    padding-left: 1.2vw;
    border-radius: 1vw 0 0 1vw;
  }
  .block:last-child {
    padding-right: 1.2vw;
    border-radius: 0 1vw 1vw 0;
    border-right: 0.2vw solid var(--color-placeholder);
  }

  .selected {
    color: white;
    background-color: var(--color-placeholder);
    font-weight: 900;
  }
}
