.container {
  display: flex;
  width: 53vw;
  align-items: center;

  .barArea {
    width: 100%;
    background-color: var(--color-base);
    height: 1vw;
    border-radius: 1vw;
    position: relative;

    .bar {
      height: 1vw;
      width: 51vw;
      display: flex;
      position: relative;
      left: 0.6vw;

      .btn {
        position: absolute;
        cursor: pointer;
        width: 1.7vw;
        display: flex;
        flex-direction: column;
        transform: translate(-1vw, -0.3vw);

        .btnCircle {
          width: 1.7vw;
          height: 1.7vw;
          border-radius: 100%;
          background-color: var(--color-text);
        }

        .btnNum {
          font-size: 1rem;
        }
      }
      .btn:focus {
        outline: none;
      }

      .mid {
        position: absolute;
        background-color: var(--color-text);
        height: 1vw;
      }
    }
  }
}
