.container {
  input {
    border: 2px solid var(--color-placeholder);
    border-radius: 20px;
    padding: 0 1vw;
    box-sizing: border-box;
  }
  input:focus {
    outline: none;
  }

  .results-container {
    width: 95%;
    margin: 0 auto;
    max-height: 20vw;
    overflow-x: auto;
    margin-top: 2vw;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    z-index: 1;
  }
}
