.container {
  height: 8vw;
  width: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  box-sizing: border-box;
  cursor: pointer;
}

.title-wrapper {
  width: 90%;
  font-size: 50%;
  text-align: center;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

.image-wrapper {
  width: 90%;
  height: auto;
  text-align: center;

  img {
    width: 80%;
    height: auto;
  }
}
