.image-box {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.custom-img {
  border-radius: 10%;
  width: 17vw;
  height: 17vw;
}

.custom-img-preview {
  border-radius: 10%;
  width: 14vw;
  height: 14vw;
}

.author {
  position: absolute;
  color: white;
  font-size: 0.85vw;
  border-radius: 1.5vw;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3vw 1vw;
  bottom: 0.85vw;
  right: 0.8vw;
}

.title {
  margin-top: 1.2vw;
  font-size: 1.2vw;
  font-weight: 950;
}

.title-preview {
  margin-top: 1.2vw;
  font-size: 1vw;
  font-weight: 950;
}

.comment {
  margin-top: 0.3vw;
  font-size: 0.97vw;
}

.comment-preview {
  margin-top: 0.3vw;
  font-size: 0.85vw;
}

.grid-item {
  padding: 0.7vw;
  cursor: pointer;
  margin-bottom: 2vw;
}
