.container {
  width: 8vw;
  height: 8vw;
  margin-bottom: 2.5vw;
  // background-color: pink;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid var(--color-placeholder);
  border-right: 1px solid var(--color-placeholder);
  border-bottom: 1px solid var(--color-placeholder);
}

.container:nth-child(5n + 1) {
  border-radius: 1vw 0 0 1vw;
  border-left: 1px solid var(--color-placeholder);
}

.container:nth-child(5n) {
  border-radius: 0 1vw 1vw 0;
}
.container:last-child {
  border-radius: 0 1vw 1vw 0;
}

.container:nth-child(5n + 1):last-child {
  border-radius: 1vw;
  border-left: 1px solid var(--color-placeholder);
}

.count {
  display: flex;
  justify-content: center;
  // margin-top: 1vw;
  font-size: 1.02vw;
}

.ingredient-img {
  // margin-top: 0.3vw;
  width: 3.3vw;
  height: 3.3vw;
}

.ingredient-name {
  margin-top: 0.4vw;
  margin-bottom: 0.3vw;
  font-size: 1.02vw;
  // width: 7vw;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;

  .stored-ingredient {
    color: var(--color-point);
    font-weight: 600;
  }
}

.start-ingredient {
  border: solid var(--color-placeholder);
  border-width: 0.1vw 0.1vw 0.1vw 0.1vw;
  border-radius: 1vw 0vw 0vw 1vw;
  width: 7.5vw;
  height: 7.5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.last-ingredient {
  border: solid var(--color-placeholder);
  border-width: 0.1vw 0.1vw 0.1vw 0vw;
  border-radius: 0vw 1vw 1vw 0vw;
  width: 7.5w;
  height: 7.5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-ingredient {
  border: solid var(--color-placeholder);
  border-width: 0.1vw 0.1vw 0.1vw 0vw;
  width: 7.5vw;
  height: 7.5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-last-ingredient {
  border: solid var(--color-placeholder);
  border-width: 0.1vw 0.1vw 0.1vw 0.1vw;
  border-radius: 1vw 1vw 1vw 1vw;
  width: 7.5vw;
  height: 7.5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
