.wrapper {
  display: flex;
  flex-direction: column;
}
.occation-item {
  padding: 20px;
  border-radius: 20px;
  border: 3px solid transparent;
  align-self: center;
  width: 160px;
  height: auto;
  cursor: pointer;
  div {
    margin-top: 6px;
    text-align: center;
  }
  margin: 30px;
}
.description {
  font-size: 0.8rem;
  color: var(--color-text);
  text-align: center;
  padding-top: 0.4rem;
}
.selected {
  border: 3px solid var(--color-point);
}
