.button-oauth {
  margin-top: 10px;
  border-radius: 50px;
  border: 2px solid #dddddd;
  display: flex;
  font-size: 20px;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  padding: 20px;
  img {
    width: 30px;
    height: 30px;
  }
  .text-field-btn {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
.kakao {
  background-color: #f7e600;
  border: none;
  div {
    color: white;
  }
}
.naver {
  background-color: #f2f2f2;
  border: none;
  div {
    color: white;
  }
}
.oauth-buttons {
  margin: 1vw;
  display: flex;
  justify-content: space-around;
  width: 20vw;
}
