.container-outer {
  background-color: var(--color-base);
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 10px 10px 0 0;
}

.container-inner {
  background-color: white;
  width: 80%;
  height: 95%;
  border-radius: 0 10px 0 0;
  margin: 0 auto;
  overflow: auto;

  .inside {
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: fit-content;
    overflow: auto;
    gap: 2vw;
    justify-content: flex-start;
    align-items: center;
    margin: 2vw auto 0 auto;
  }
}
.container-inner::-webkit-scrollbar {
  width: 0;
}
