.container {
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - 5vw);

  .search-wrapper {
    // background-color: orange;
    flex: 2;
    display: flex;
  }

  .memo-wrapper {
    // background-color: black;
    flex: 3;
  }
}
