.container {
  // background-color: rebeccapurple;
  height: 5vh;
  display: flex;
  // align-items: flex-end;
  cursor: pointer;

  .image-wrapper {
    height: 100%;
    margin-right: 2vw;

    img {
      width: auto;
      height: 5vh;
    }
  }

  .text-container {
    h3 {
      font-size: 1rem;
      transition: 0.3s;
    }

    .color-block {
      background-color: var(--color-point);
      width: 100%;
      height: 0.5vh;
      margin-top: 0.3vh;
    }
  }
}

.container:hover {
  h3 {
    color: var(--color-point);
    transition: 0.3s;
  }
}
