.column-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 80px;
  hr {
    width: 70%;
    align-self: center;
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .container {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    box-sizing: border-box;
    .recent {
      width: 70%;
      height: 400px;
    }
    h3 {
      width: 100%;
      align-self: center;
      margin-right: auto;
    }
    .list-wrapper {
      width: 100%;
      align-items: end;
    }
    .container {
      width: 100%;
      height: 400px;
      .title {
        padding: 20px;
      }
    }
  }
  .with-profile {
    flex-direction: row;
  }
  .mypage-cocktail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.no-content-like {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  h3 {
    color: rgb(219, 219, 219);
  }
}
.more {
  font-size: 1.4rem;
  width: 10vh;
  height: 10vh;
  box-sizing: border-box;
  position: relative;
  bottom: 16vh;
  margin-left: 10px;
  // background-color: rgb(216, 216, 216);
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    background-color: rgb(241, 241, 241);
  }
}
